{
  "rules": {},
  "env": {
    "es6": true,
    "browser": true,
    "prototypejs": true
  },
  "globals": {
    "CONTEXTPATH": false
  },
  "overrides": [
    {
      "excludedFiles": "rest-spec/*"
    }
  ],
  "extends": "eslint:recommended"
}
