/.settings
/.project
/todo.txt
sonar-scanner
.sonar
travis-encrypted.tar 
.travis_rsa
.gnupg
/.DS_Store
/localsettings.sql
/local.sql
/keycloak-3.2.0.Final/
/keycloak.log
/test-variables.sh
/google-service-account.json
/keycloak-3.2.1.Final/
node_modules
/keycloak-3.4.3.Final/
dev
.classpath