/.settings
/.project
/todo.txt
sonar-scanner
.env
.sonar
travis-encrypted.tar 
.travis_rsa
.gnupg
/.DS_Store
/localsettings.sql
/local.sql
/test-variables.sh
/google-service-account.json
node_modules
dev
.classpath
.idea
*.iml
nginx-dev/letsencrypt
nginx-dev/cloudflare.ini