@CHARSET "UTF-8";

/* Manage plan */

.planmanagement .formSelectContainer select {
  display: block;
}

/* Subscription levels */

.subscriptionlevels table {
  width: 100%;
}

.subscriptionlevels table tbody td:first-of-type {
  font-weight: bold;
  text-align: left;
  padding-left: 5px;
}

.subscriptionlevels table thead th {
  font-weight: bold;
}

.subscriptionlevels table thead th,
.subscriptionlevels table tbody td {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.subscriptionlevels table tbody tr:nth-child(even) {
  background: #f0f0f0; 
}

.subscriptionlevels table tbody tr:hover {
  background: #ddd; 
}

.subscriptionlevels table tbody input {
  cursor: pointer; 
}

.settingsBlock {
  margin-top: 10px;
}

.panel_admin .featureNotAvailableOnSubscriptionLevel {
  background: rgba(250, 250, 250, 1);
  cursor: not-allowed;
  position: relative;
}

.panel_admin .featureNotAvailableOnSubscriptionLevel a {
  color: #555;
  cursor: not-allowed;
}

.panel_admin .featureNotAvailableOnSubscriptionLevel:after {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.panel_admin .featureNotAvailableOnSubscriptionLevel .tooltip {
  padding: 3px 12px;
  color: #ffffff;
  font-size: 0.8em;
  display: none;
  background: #000000;
  box-shadow: 0px 0px 4px #666666;
  margin-top: -40px;
  position: absolute;
  z-index: 9999;
  max-width: 220px;
}

.panel_admin .featureNotAvailableOnSubscriptionLevel:hover .tooltip {
  display: inline-block;
}

.panel_admin .featureNotAvailableOnSubscriptionLevel .tooltip:after {
  content: ' ';
  display: block;
  background: url('../gfx/ui/tooltip_bottom_arrow.png') no-repeat center right;
  height: 6px;
  width: 11px;
  position: absolute;
}