@CHARSET "UTF-8";

body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

.query {
  width: calc(50% - 20px);
  height: calc(50%);
  border: 1px solid #dde7ed;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-top: 5px;
}

.query:nth-child(even) {
  margin-right: 10px;
  margin-left: 5px;
}

.query:nth-child(odd) {
  margin-right: 5px;
  margin-left: 10px;
}

.query h3 {
  font-family: "Open Sans Condensed",Verdana,sans-serif;
  font-size: 18px;
  color: #df4d1c;
  text-align: center;
}

.bubbleGrid {
  width: 100%;
  height: 400px;
  position: relative;
}

.bubbleGrid .tickLabel {
  font-family: 'Arial,sans-serif';
  font-size: 10px;
  letter-spacing: 2px;
  display: block;
}

.bubbleGrid .tickLabelX {
  padding-left: 2px;
}

.bubbleGrid .tickLabelY {
  padding-top: 2px;
}

.bubbleGrid .axisLabel {
  font-family: 'PT Sans",Arial,sans-serif';
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block; 
}

.bubble {
  display: inline-block;
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transition-duration: 2s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  text-align: center;
  color: white;
  border-radius: 100%;
  padding: 0px;
  overflow: hidden;
  opacity: 0.5;
}