@import "vars";

$container-width: 75vw;

.container {
  width: $container-width !important;
}

.controls {
  margin-top: 20px;
}

.comments-list {
  border: 1px solid #dde7ed;
  height: calc(-3px + #{$container-width} / 4);
  padding: 10px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}

.comment {
  background-color: #f3f9fc;
  padding: 10px 10px 10px 10px;
  margin-bottom: 10px;
}

.comment-created,
.reply-created {
  min-height: 20px;
  padding: 3px 0 5px 0px;
  color: #df4d1c;
  font-size: 17px;
  margin-right: 10px;
  font-style: italic;
}

.comment-contents,
.reply-contents {
  font-size: 14px;
  line-height: 1.45em;
  color: #1e1e1e;
}

.comment-replies,
.reply-children {
  padding-left: 20px;
}

.comments-list-axis-x,
.comments-list-axis-y {
  border-bottom: 1px solid #DDE7ED;
  color: #0099FF;
  font-size: 19px;
  padding: 0 0 10px;
  text-transform: uppercase; 
  text-align: center;
}

.comments-list-axis-y-container {
  transform: rotate(90deg);
  transform-origin: 0 bottom;
  margin-left: -50px;
  width: calc(20px + #{$container-width} / 2);
}

.comments-list-axis-y {
  transform: rotate(180deg);
  transform-origin: center center;
}

.comment-replies-toggle {
  float: right;
  margin-top: -18px;
  cursor: pointer;
  color: green;
}