@import "vars";

.block {
  border:1px solid #dde7ed;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  padding: 8px;
  margin-bottom: 16px;
}

h1 {
  color: #1e1e1e;
  margin-top: 0px;
  font-family: 'Open Sans Condensed', Verdana, sans-serif;
  font-size: 1.6em;
  margin-left: 10px;
  text-transform: uppercase;
}

h2 {
  background-color: #1b628a;
  color: #fff;
  padding: 8px;
  font-size: 1.35em;
  min-height: 1.35em;
  font-family: 'Open Sans Condensed', Verdana, sans-serif;
  text-transform: uppercase;
  margin: 0;
}

a.disabled {
  color: #666;
  cursor: default;
}