<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>eDelphi REST</display-name>
  <description>eDelphi REST services</description>
  <module-name>edelphi-rest</module-name>
  
  <distributable/>
  
  <login-config>
    <auth-method>KEYCLOAK</auth-method>
  </login-config>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>ping</web-resource-name>
      <url-pattern>/api/v1/system/ping</url-pattern>
    </web-resource-collection>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>api</web-resource-name>
      <url-pattern>/api/v1/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>*</role-name>
    </auth-constraint>
  </security-constraint>   

  <security-role>
    <role-name>user</role-name>
  </security-role>

</web-app>